.benefit-item {
  flex: 1;
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item-title {
  line-height: 0.75rem;
  font-size: var(--font-size-lg);
  font-weight: var(--fw-semibold);
}

.item-desc {
  font-size: var(--font-size-sm);
  font-weight: var(--fw-regular);
  line-height: 1.625rem;
}
