.benefit {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}

.benefit-text {
	text-align: center;
  font-size: 32px;
  font-weight: var(--fw-bold);
  line-height: normal;
	padding-bottom: 50px
}

.benefit-list {
  display: grid;
	grid-template-rows: repeat(4, 1fr);
	gap: 10px;
	justify-content: center;
	padding-bottom: 37px;
}

.benefit-button {
  align-self: center;
  padding: 15px 32px;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}
