.hero {
	margin-top: 2rem;
}

.hero-img {
	margin: 0 auto;
	width:  21.125rem;
	height: 100%;
	display: flex;
	justify-content: center;
}

.hero-content {
	text-align: center;
	margin-top: 1.125rem;
}

.hero-title {
	font-size: 2.25rem;
	font-weight: var(--fw-bold);
	line-height: 3.75rem;
}

.hero-desc {
	padding: 1rem 2.1875rem;
	font-size: var(--font-size-md);
	font-weight: var(--fw-regular);
	line-height: 1.75rem;
}

.hero-link {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.875rem;
}

.link-video {
	display: flex;
	gap: 0.3125rem;
}

.hero-button {
	font-weight: var(--fw-bold);
	padding: 1.125rem 1.5rem;
}

.link-icon {
	width: 1.25rem;
	height: 1.25rem;
	cursor: pointer;
}

.link-button {
	font-size: var(--font-size-sm);
	font-weight: var(--fw-bold);
	text-decoration-line: underline;
	display: flex;
}

.link-video:hover .link-button,
.link-video:hover .link-icon {
	color: var(--secondary-color);
}
