.management {
	margin-top: 3.0625rem;
}

.management-img {
	margin: 0 auto;
	width: 21.8125rem;
	height: 19.125rem;
	display: flex;
	justify-content: center;
}

.management-content {
	padding-top: 3.35rem;
	padding-left: 32px;

}

.management-topic {
	padding-bottom: 1.5rem;
	font-size: 2rem;
	font-weight: var(--fw-bold);
}

.management-title {
	font-size: var(--font-size-sm);
	font-weight: var(--fw-semibold);
	padding-bottom: 1.1875rem;
}

.management-desc {
	padding-bottom: 1.25rem;
	font-weight: var(--fw-regular);
	line-height: 1.625rem;
}

@media (min-width: 576px) {
	.management {
		margin-top: 2rem;
	}

  .management-img {
    width: 34.5rem;
    height: 30rem;
  }

  .management-content {
    max-width: none;
    padding: 1.5rem 3.56rem;
  }
}

@media (min-width: 1200px) {
  .management {
    display: flex;
    flex-direction: row-reverse;
  }

  .management-img {
    width: 34.25rem;
    height: 29.625rem;
    display: flex;
    justify-content: start;
  }

  .management-content {
    max-width: 30.8rem;
    padding: 0;
  }
}
