.management {
	margin-top: 3.0625rem;
}

.management-img {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 21.8125rem;
	height: 19.125rem;
}

.management-content {
	margin-top: 3.5rem;
	margin-left: 1.25rem;

}

.management-topic {
	font-size: 2rem;
	font-weight: var(--fw-bold);
	padding-top: 1.2rem;
}

.management-title {
	font-weight: var(--fw-semibold);
}

.management-desc {
	padding-top: 1.6rem;
	padding-bottom: 1.25rem;
	font-weight: var(--fw-regular);
	line-height: 1.625rem;
}

@media (min-width: 576px) {
	.management {
		margin-top: 2rem;
	}

  .management-img {
    width: 34.5rem;
    height: 30rem;
  }

  .management-content {
    max-width: none;
    margin: 1.5rem 3.56rem;
  }
}

@media (min-width: 1200px) {
  .management {
    display: flex;
    flex-direction: row-reverse;
		justify-content: space-between;
		margin-top: 8rem;
  }

  .management-img {
    display: flex;
    justify-content: start;
		margin: 0;
		width: 34.25rem;
    height: 29.625rem;
  }

  .management-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 30.8rem;
    margin: 0;
  }

	.management-title {
		padding-bottom: 1.375rem;
	}
}
