.pricing {
	margin-top: 2.375rem;
}

.pricing-text {
	margin-bottom: 3rem;
	text-align: center;
}

.pricing-title {
	font-size: 2.125rem;
	font-weight: var(--fw-bold);
	line-height: normal;
}

.pricing-desc {
	font-weight: 500;
	line-height: normal;
}

.pricing-card {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

@media (min-width: 576px) {
	.pricing-desc {
		line-height: 2.5rem;
	}

	.pricing-card {
		gap: 4.4375rem;
	}
}

@media (min-width: 1200px) {
	.pricing-card {
		flex-direction: row;
		justify-content: center;
		gap: 4.375rem;
	}

	.pricing-text {
		margin-bottom: 2.5rem;
	}
}
