.header-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1rem;
}

.header-logo {
	display: flex;
	gap: 0.875rem;
	font-weight: var(--fw-bold);
	text-decoration: none;
}

.logo-text {
	padding-top: 0.3rem;
	font-size: 1.67rem;
}

.checkbtn {
	display: block;
	cursor: pointer;
}

.nav-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	animation: fadeIn linear 0.5s;
	background-color: rgba(0, 0, 0, 0.5);
}

#check:checked ~ .nav-overlay {
	display: block;
}

#check {
	display: none;
}

#check:checked ~ .header-navbar {
	display: block;
	transform: translateX(0%);
	transition: all linear 0.3s;
}

.header-navbar {
	position: absolute;
	top: 5rem;
	right: 0;
	display: none;
	padding: 2rem;
	background: #1f2e35;
	border: 0.0625rem solid var(--primary-color);
	border-top-left-radius: 1.875rem;
	border-bottom-left-radius: 1.875rem;
}

.nav-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.9375rem;
}

.nav-item {
	font-weight: var(--fw-regular);
	text-decoration: none;
}

.nav-item:hover {
	font-weight: var(--fw-semibold);
}

.header-button {
	display: flex;
	justify-content: center;
	gap: 0.75rem;
	padding-top: 0.9375rem;
}

.nav-button {
	padding: 0.625rem 1.4375rem;
	font-weight: var(--fw-semibold);
}

@media (min-width: 1200px) {
	.checkbtn {
		display: none;
	}

	.header-navbar {
		position: static;
		display: flex;
		gap: 32px;
		padding: 0;
		background: transparent;
		border: none;
	}

	.nav-list {
		display: flex;
		flex-direction: row;
		gap: 32px;
	}

	.header-button {
		padding: 0;
		gap: 32px;
	}

	.first-list {
		max-width: 60px;
	}

	.second-list {
		max-width: 85px;
	}

	.third-list {
		max-width: 50px;
	}

	.fourth-list {
		max-width: 80px;
	}
}
